.galeryTitle {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0%;
    color: rgb(253, 174, 4);
    cursor: pointer;
}
.galeryTitle:hover{
    color: white;
    border-right: 2px solid rgb(253, 174, 4);
    border-left: 2px solid rgb(253, 174, 4);
    background: rgba(0, 0, 0, 0.349);
    border-radius: 4px;
}
