.brand {
    display: flex;
    justify-content: center;
    position: relative;
}
.brandNavigation {
    justify-content: center;
}
.brandTitle {
    font-family: 'Gugi', cursive;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 15%;
    left: 30.5%;
}
.brandLogo {
    width: 45%;
    height: 45%;
    border-radius: 4px;
    margin: 20px;
}
.logoNavigation {
    width: 30%;
    height: 30%;
}
.titleNavigation {
    font-size: 9px;
    bottom: 18%;
    left: 37.5%;
}