.brand {
    display: flex;
    justify-content: center;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
}
.brandNavigation {
    justify-content: center;
}
.brandTitle {
    font-family: 'Gugi', cursive;
    color: #080000;
    font-size: 34px;
    margin: 0 0 15px 0;
}
.brandLogo {
    width: 45%;
    height: 45%;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}
.logoNavigation {
    width: 30%;
    height: 30%;
    cursor: pointer;
}
.titleNavigation {
    font-size: 9px;
    bottom: 18%;
    left: 37.5%;
}