.brand {
    display: flex;
    justify-content: center;
}
.brandNavigation {
    justify-content: center;
}
.brandLogo {
    width: 45%;
    height: 45%;
    border-radius: 6px;
}
.logoNavigation {
    width: 20%;
    height: 20%;
}