
.products {
    background-image: url('../../assets/images/backgalery1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 5px;
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 6% 3%;
    font-family: 'Pompiere', cursive;
    font-weight: bold;
    
}

.title {
    font-size: 35px;
    color: rgb(253, 95, 4);
    font-family: 'Rancho', cursive;
    margin: 0px;
    align-self: center;
}
.product {
    padding: 8px 0px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 25px;
}
.product:hover {
    // border-right: 2px solid rgb(253, 95, 4);
    // border-left: 2px solid rgb(253, 95, 4);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.349);
    color: rgb(253, 95, 4);
}