.categories {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 12% 6% 0% 6%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/back5.jpg');
}

.category {
    position: relative;
    margin-bottom: 25%;
}
.image {
    width: 200px;
    height: 255px;
    border-radius: 4px;
}

.label {
    position: absolute;
    bottom: -5%;
    left: 4%;
    width: 180px;
    padding: 4% 0%;
    background: rgb(240, 86, 66);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border-right: 2px solid white;
    border-left: 2px solid white;
    transition: 1s;
    font-size: 1em;
}
.label:hover {
    background: white;
    color: rgb(240, 86, 66);
    border-right: 2px solid #F05742;
    border-left: 2px solid #F05742;
}