.arrows {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    position: absolute;
    width: 98%;
    bottom: 35%;
}

.arrow {
    border-radius: 50px;
    width: 6%;
    height: 1%;
    background: rgba(128, 128, 128, 0.753);
    border: solid 1px black;
    bottom: 25%;
    padding: 1%;

}
.arrow:hover {
    background: #F05742;
}