.about {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    background: lightgray;
}
.aboutTitle {
    color: rgb(253, 95, 4);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    // border-right: 2px solid rgb(253, 95, 4);
    // border-left: 2px solid rgb(253, 95, 4);
    // border-radius: 4px;
    padding: 1%;
    margin: 3% 0;
    font-family: 'Rancho', cursive;
}
.aboutText {
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 3% 1% 6% 1%;
    font-family: 'Pompiere', cursive;
}
.aboutAdverstisement {
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 2% 3%;
    font-weight: bold;

}
