.background {
    background: transparent;
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    
}
.sales {
    width: 100%;
    background: white;
    border-radius: 4px;
    margin: 3.5% 0% 3% 0%;
    position: relative;
    padding-bottom: 3%;
}
.name {
    font-size: 14px;
    font-weight: bold;
    color: #F05742;
    
}
.line {
    width: 60px;
    height: 1px;
    background: black;
}
.title {
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 2%;
}
.title:hover {
    color: white;
}
.img {
    width: 240px;
    height: 130px;
    border-radius: 4px;
}
.price {
    font-size: 12px;
    font-style: italic;
    color: black;
    padding: 5px;
    background: white;
    border-radius: 4px;
    position: absolute;
    bottom: 0%;
    right: 40%;
    border: 1px solid white;
}