.sales {
    background: rgba(255, 255, 255, 0.712);
    border-radius: 4px;
    margin-top: 3.5%;
    position: relative;
    padding-bottom: 3%;
}
.name {
    font-size: 14px;
    font-weight: bold;
    color: #F05742;
    
}
.img {
    width: 78%;
    height: 120px;
    border-radius: 4px;
    border-right: 2px solid #F05742;
    border-left: 2px solid #F05742;
}
.price {
    font-size: 12px;
    font-style: italic;
    color: black;
    padding: 5px;
    background: white;
    border-radius: 4px;
    position: absolute;
    bottom: 0%;
    right: 40%;
    border: 1px solid white;
}