.background {
    background-image: url('../../../assets/images/backgalery1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 15% 2fr;
    padding: 6% 4% 0% 4%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    grid-row: 2/3;
    color: white;
}
.headerClose {
    width: 8%;
    cursor: pointer;
}
.galery {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 11%;
    align-items: center;
   
}
