.content {
    background: green;
    position: relative;

}
.img {
    width: 70px;
}
.code {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    bottom: 0%;
    right: 50%;
}