.optionsNav {
    padding: 6%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: rgba(240, 86, 66, 0.986);
    z-index: 2;
    left: 0;
    top: 0;
    position: fixed;
    text-align: center;
    height: 100%;
}
