.optionsNav {
    padding: 4%;
    display: grid;
    grid-template-rows: 7% 46% 46%;
    justify-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/backgalery1.jpg');
    z-index: 2;
    left: 0;
    top: 0;
    position: fixed;
    text-align: center;
    height: 100vh;
}
.close {
    width: 5%;
    cursor: pointer;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50px;
}

