.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    margin-top: 3%;
}
.opinion {
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
}
.line {
    width: 60px;
    height: 1px;
    background: black;
}
.title {
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 2%;
}
.title:hover {
    color: white;
}
.text {
    font-size: 12px;
    color: black;
    margin: 1%;
}
.description {
    font-size: 12px;
    color: #F05742;
    font-weight: bold;
    font-style: italic;
}
.image {
    width: 65%;
    border-radius: 4px;
}
.close {
    width: 25px;
    margin-bottom: 10%;
}