.opinion {
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
}
.line {
    width: 60px;
    height: 1px;
    background: black;
}
.title {
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 2%;
}
.title:hover {
    color: white;
}

.close {
    width: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.712);
    padding: 5px;
    border-radius: 50px;
}
